main.navigation_bar {
    height: 10vh;
    display: grid;
    grid-template-columns: 7fr 1fr;
    background-color: #EBD2BE;

    &>div {
        display: flex;
        align-items: center;

        &:first-child {
            button {
                background-color: #FFE8D4;
                cursor: pointer;
            }

            button:hover {
                background-color: #FFD8B4;
            }
        }

        &:last-child {
            justify-content: space-evenly;

            button {
                color: #FFD8B4;
                cursor: pointer;
                background-color: #220C10;
            }
            button:hover {
                background-color: #440C10;
            }
        }
    }
}