@import "tailwindcss";
@import "./theme.css";

:root {
  --font-primary: var(--font-montserrat);
}

body {
  font-family: var(--font-primary), system-ui, sans-serif;
  background: var(--color-bg);
  color: var(--color-text-main);
}

 /* Quick note: The following CSS classes are for testing purposes only and should be removed before production.  */
.border-red {
  border: 2px solid red !important;
}
.border-blue {
  border: 2px solid blue !important;
}