.notepad {
    height: 90vh;
    display: grid;
    grid-template-rows: auto 1fr;
    outline: none;
    &>div:nth-child(2){
        background: #EBD2BE;
        &>div{
            border: none;
            margin-left: 0.5rem;
            padding: 1.5rem 0.5rem;
            &>button{
                background-color: #FFE8D4;
                padding: 0.3rem 1rem;
                text-transform: capitalize;
                &:hover{
                    background-color: #FFD8B4;
                    box-shadow: 0 0 5px #FFA878;
                }
            }
        }
    }
    &>div:last-child{
        display: grid;
        grid-template-columns: 3fr 1fr;
        background: #FFE8D4;
        &>section:first-child{
            background: #EBD2BE;
            margin: 0.5rem;
            border: 1px solid #ccc;
            &>textarea{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                resize: none;
                font-family: 'Courier New', Courier, monospace;
                font-size: 1rem;
                padding: 1rem;
                box-sizing: border-box;
                &::selection{
                    background: #290628;
                    color: white;
                }
            }
        }
        &>section:last-child{
            background: #EBD2BE;
            margin: 0.5rem;
            border: 1px solid #ccc;

            display: grid;
            grid-template-rows: 1fr 10fr;
            &>div{
                &:first-child{
                    &>div{ 
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        &>div{
                            display: grid;
                            place-items: center;
                        }
                    }
                }
            }
        }
    }
}