.notepad {
    height: 88vh;
    border-top: none;
    display: grid;
    grid-template-rows: 1fr 6fr;

    &>div {
        border-top: none;

        &:nth-child(1) {
            display: grid;
            grid-template-rows: repeat(2, 1fr);

            &>div {
                border-top: none;

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &:last-child {
            display: grid;
            grid-template-columns: 7fr 2fr;
            max-width: 100vw;
            overflow: hidden;

            &>div {

                &:first-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    overflow: hidden;

                    &>textarea {
                        height: 98%;
                        width: 99%;
                        background: var(--input);
                        /* theme-aware */
                        color: var(--foreground);
                        /* theme-aware text color */
                        resize: none;
                        font-size: 17px;
                        font-family: monospace;
                        border-radius: 0;
                        white-space: pre-wrap;
                        word-wrap: break-word;
                        overflow-x: hidden;
                        border: 1px solid var(--border);
                    }
                }

                &:last-child {
                    display: grid;
                    grid-template-rows: 1fr 8fr;
                }
            }
        }
    }
}

.submenu {
    &>div {
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
    }
}